<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設定ページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="setting" class="container">
    <h1>設定</h1>
    
    <h2>ユーザー情報</h2>
    <p>ユーザー名: {{ user.username }}</p>

    <!-- ユーザー情報変更ボタン -->
    <form action="{{ url_for('edit_user') }}" method="get">
        <button type="submit" class="button">ユーザー情報を変更</button>
    </form>

    <!-- ログアウトボタン -->
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit" class="logout-button">ログアウト</button>
    </form>

    <a href="{{ url_for('index') }}" class="button">投稿一覧に戻る</a>
</div>
</body>
</html>





